.admin_page {
    width: 70%;
    margin: auto;
    height: 100px;
    border: 1px solid  #000000;
    background: lightgrey;
}

.add_page_button {
    border: 1px solid #000000;
    width: 25%;
    height: 140px;
    float: left;
}

.btn_fixed_add {
    text-align: center;
}