<% include header.ejs %>
<div class="panel panel-default">
    <div class="panel-heading">

        <h3>POS后台管理系统</h3><a class="btn btn-default" href="/item" role="button">回到商品列表</a></div>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
    <% } %>
    <div class="panel-body">
        <div style="border: 1px solid #a9a9a9;width: 20%;height: 500px; background: #a9a9a9; float: left">
            <a href="/admin " style="color: #000000;">
                <div style="border: 1px solid #c0c0c0;width: 100%;height: 40px;"><h4 style="text-align: center">
                        商品管理</h4></div>
            </a>
            <a href="/addpromotion" style="color: #000000;">
                <div style="border: 1px solid #c0c0c0;width: 100%;height: 40px;"><h4 style="text-align: center">
                        折扣活动</h4></div>
            </a>
        </div>

        <div style="height: auto;width: 80%;float: left;margin-top: 50px;">
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">打折规则:</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="ruleDetail" placeholder="请输入打折规则">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">打折期限:</label>

                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-md-5"><input type="text" class="form-control" name="starttime" placeholder="MM/DD/YYYY">
                            </div>
                            <div class="col-md-1"><span>_</span></div>
                            <div class="col-md-5"><input type="text" class="form-control" name="endtime" placeholder="MM/DD/YYYY">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5"><label for="inputPassword3" class="col-sm-7 control-label">买:</label>

                            <div class="row">
                                <div class="col-md-3"><input type="number" class="form-control" name="buy" placeholder="数字"></div>
                            </div>
                        </div>
                        <div class="col-md-5"><label for="inputPassword3" class="col-sm-1 control-label">赠:</label>

                            <div class="row">
                                <div class="col-md-3"><input type="number" class="form-control" name="discount" placeholder="数字"></div>
                            </div>
                        </div>

                    </div>
                </div>

           
        </div>
        <div style="float: right; margin-right: 30px;">
            <button type="submit" class="btn btn-default">添加</button>
            <button type="reset" class="btn btn-default">取消</button>
        </div>
         </form>
    </div>

</div>


<% include footer.ejs %>